#smockedtops1 {
  background: url("../../assets/images/RENAME-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#smockedtops2 {
  background: url("../../assets/images/RENAME-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#smockedtops3 {
  background: url("../../assets/images/RENAME-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#smockedtops4 {
  background: url("../../assets/images/RENAME-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#rucheddresses1 {
  background: url("../../assets/images/RENAME-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#rucheddresses2 {
  background: url("../../assets/images/RENAME-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#rucheddresses3 {
  background: url("../../assets/images/RENAME-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#rucheddresses4 {
  background: url("../../assets/images/RENAME-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#wraptops1 {
  background: url("../../assets/images/RENAME-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#wraptops2 {
  background: url("../../assets/images/RENAME-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#wraptops3 {
  background: url("../../assets/images/RENAME-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#wraptops4 {
  background: url("../../assets/images/RENAME-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#miniskirts1 {
  background: url("../../assets/images/RENAME-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#miniskirts2 {
  background: url("../../assets/images/RENAME-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#miniskirts3 {
  background: url("../../assets/images/RENAME-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#miniskirts4 {
  background: url("../../assets/images/RENAME-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satindresses1 {
  background: url("../../assets/images/RENAME-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satindresses2 {
  background: url("../../assets/images/RENAME-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satindresses3 {
  background: url("../../assets/images/RENAME-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satindresses4 {
  background: url("../../assets/images/RENAME-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#twopieces1 {
  background: url("../../assets/images/RENAME-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#twopieces2 {
  background: url("../../assets/images/RENAME-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#twopieces3 {
  background: url("../../assets/images/RENAME-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#twopieces4 {
  background: url("../../assets/images/RENAME-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#baniex1 {
  background: url("../../assets/images/RENAME-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#baniex2 {
  background: url("../../assets/images/RENAME-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#baniex3 {
  background: url("../../assets/images/RENAME-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#baniex4 {
  background: url("../../assets/images/RENAME-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}/*# sourceMappingURL=BackgroundImage.css.map */