.section_image0 {
  background: url("../../assets/images/RENAME-0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image1 {
  background: url("../../assets/images/RENAME-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image2 {
  background: url("../../assets/images/RENAME-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image3 {
  background: url("../../assets/images/RENAME-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image4 {
  background: url("../../assets/images/RENAME-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image5 {
  background: url("../../assets/images/RENAME-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image6 {
  background: url("../../assets/images/RENAME-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image7 {
  background: url("../../assets/images/RENAME-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image8 {
  background: url("../../assets/images/RENAME-8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image9 {
  background: url("../../assets/images/RENAME-9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image10 {
  background: url("../../assets/images/RENAME-10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image11 {
  background: url("../../assets/images/RENAME-11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image12 {
  background: url("../../assets/images/RENAME-12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image13 {
  background: url("../../assets/images/RENAME-13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image14 {
  background: url("../../assets/images/RENAME-14.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image15 {
  background: url("../../assets/images/RENAME-15.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image16 {
  background: url("../../assets/images/RENAME-16.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image17 {
  background: url("../../assets/images/RENAME-17.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image18 {
  background: url("../../assets/images/RENAME-18.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image19 {
  background: url("../../assets/images/RENAME-19.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image20 {
  background: url("../../assets/images/RENAME-20.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image21 {
  background: url("../../assets/images/RENAME-21.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image22 {
  background: url("../../assets/images/RENAME-22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image23 {
  background: url("../../assets/images/RENAME-23.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image24 {
  background: url("../../assets/images/RENAME-24.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image25 {
  background: url("../../assets/images/RENAME-25.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image26 {
  background: url("../../assets/images/RENAME-26.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image27 {
  background: url("../../assets/images/RENAME-27.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image28 {
  background: url("../../assets/images/RENAME-28.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image29 {
  background: url("../../assets/images/RENAME-29.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image30 {
  background: url("../../assets/images/RENAME-30.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image31 {
  background: url("../../assets/images/RENAME-31.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image32 {
  background: url("../../assets/images/RENAME-32.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image33 {
  background: url("../../assets/images/RENAME-33.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image34 {
  background: url("../../assets/images/RENAME-34.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image35 {
  background: url("../../assets/images/RENAME-35.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image36 {
  background: url("../../assets/images/RENAME-36.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_image1 {
  background: url("../../assets/images/RENAME-1.jpg");
}/*# sourceMappingURL=SectionBackgroundImage.css.map */